* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  background: url('../images/home_backdrop.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
